{#
/**
 * @file
 * Theme override to display the front page.
 */
#}

<div id="rsvp_alert"><div style="color: black; border: 1px solid white;"> October <b><a href="/about">Updates Are Here!</a></b> </div>
</div>

<div class="row g-0 align-items-center justify-content-center sticky-container" id="sticky-header">
  
  <!-- Logo Container (4 columns on desktop/tablet, full width on mobile) -->
  <div class="col-12 col-lg-4 d-flex justify-content-center justify-content-lg-end logo-container">
    <!-- Default Logo -->
    <picture id="rsvp_logo_default">
      <source srcset="{{ rsvp_logo_mobile }}" media="(max-width: 599px)">
      <source srcset="{{ rsvp_logo_tablet }}" media="(min-width: 600px) and (max-width: 1024px)">
      <source srcset="{{ rsvp_logo_desktop }}" media="(min-width: 1025px)">
      <img src="{{ rsvp_logo_desktop }}" alt="{{ rsvp_logo_alt_text }}" class="img-fluid">
    </picture>

    <!-- Inverted Logo -->
    <picture id="rsvp_logo_invert">
      <source srcset="{{ rsvp_logo_mobile_invert }}" media="(max-width: 599px)">
      <source srcset="{{ rsvp_logo_tablet_invert }}" media="(min-width: 600px) and (max-width: 1024px)">
      <source srcset="{{ rsvp_logo_desktop_invert }}" media="(min-width: 1025px)">
      <img src="{{ rsvp_logo_desktop_invert }}" alt="{{ rsvp_logo_alt_text }}" class="img-fluid">
    </picture>
  </div>

  <!-- Site Name Container (8 columns on desktop/tablet, full width on mobile) -->
  <div id="rsvp_site_name_container" class="col-12 col-lg-8 d-flex justify-content-center justify-content-lg-start site-name-container">
    <!-- Default Site Name -->
    <picture id="rsvp_site_name_default">
      <source srcset="{{ rsvp_site_name_mobile }}" media="(max-width: 599px)">
      <source srcset="{{ rsvp_site_name_tablet }}" media="(min-width: 600px) and (max-width: 1024px)">
      <source srcset="{{ rsvp_site_name_desktop }}" media="(min-width: 1025px)">
      <img src="{{ rsvp_site_name_desktop }}" alt="{{ rsvp_site_name_alt_text }}" class="img-fluid">
    </picture>

    <!-- Inverted Site Name -->
    <picture id="rsvp_site_name_invert">
      <source srcset="{{ rsvp_site_name_mobile_invert }}" media="(max-width: 599px)">
      <source srcset="{{ rsvp_site_name_tablet_invert }}" media="(min-width: 600px) and (max-width: 1024px)">
      <source srcset="{{ rsvp_site_name_desktop_invert }}" media="(min-width: 1025px)">
      <img src="{{ rsvp_site_name_desktop_invert }}" alt="{{ rsvp_site_name_alt_text }}" class="img-fluid">
    </picture>
  </div>
</div>

<div class="splash-section" data-type="splash-image" data-scroll-type="parallax">
  <div id="splash--wordmark"></div>
</div>
<section class="splash-image-container">
  <picture>
    <!-- Small devices -->
    <source srcset="/themes/custom/radix_house_theme/images/image-500x333.jpg 500w, /themes/custom/radix_house_theme/images/image-575x382.jpg 575w" media="(max-width: 600px)">
    <!-- Medium devices -->
    <source srcset="/themes/custom/radix_house_theme/images/image-768x511.jpg 768w, /themes/custom/radix_house_theme/images/image-1023x681.jpg 1023w" media="(min-width: 601px) and (max-width: 1024px)">
    <!-- Large devices -->
    <source srcset="/themes/custom/radix_house_theme/images/image-1536x1022.jpg 1536w, /themes/custom/radix_house_theme/images/image-2048x1362.jpg 2048w" media="(min-width: 1025px)">
    <!-- Fallback image -->
    <img src="/themes/custom/radix_house_theme/images/fallback-image-1024x681.jpg" class="bg-img" alt="Discover Vermont">
  </picture>
</section>


<div id="scroll-trigger" style="margin-top: -500px; height: 500px;"></div>


{% block page_navigation %}
  {% include 'radix:page-navigation' %}
{% endblock %}
<div id="splash--scroller">
  <a href="#main-content">Discover Philadelphia Neighborhoods</a>
  <a href="#main-content" aria-hidden="true" role="presentation">
    <span aria-hidden="true" role="img">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ff926c" viewBox="0 0 16 16">
        <text x="0" y="15" font-weight="bold" fill="#ff926c">>></text>
      </svg>
    </span>
  </a>
</div>

<div {{ page_attributes.addClass(page_classes) }}>
  {% block page_content %}
    {% include 'radix:page-content' with {
      page_main_utility_classes: ['py-5'],
      page_header_container_utility_classes: ['mb-3'],
    } %}
  {% endblock %}

  {% block page_footer %}
    {% include 'radix:page-footer' %}
  {% endblock %}
</div>
