{#

/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{%
  embed 'radix:block' with {
    block_utility_classes: [
      'block--system-branding',
    ],
  }
%}
{% block block_content %}
    <div class="branding-wrapper">
      <a href="{{ path('<front>') }}" class="navbar-brand d-inline-flex align-items-center">
<img src="/themes/custom/radix_house_theme/images/Example_Logo_200.png" alt="{{ site_name }}" width="200px" height="200px" />
        {% if is_front %}
          <!-- Front page: Light logo initially -->
          <img src="/themes/custom/radix_house_theme/images/light_logo_text.svg" alt="{{ site_name }} logo" id="default-logo" class="logo-image" style=" min-width: 300px;">
          <img src="/themes/custom/radix_house_theme/images/dark_logo_text.svg" alt="{{ site_name }} alternative logo" id="alternative-logo" class="logo-image" style="display: none; min-width: 300px;">
        {% else %}
          <!-- Other pages: Dark logo only -->
          <img src="/themes/custom/radix_house_theme/images/dark_logo_text.svg" alt="{{ site_name }} logo" class="logo-image" style="min-width: 300px;">
        {% endif %}
        <span class="site-name">{{ site_name }}</span>
      </a>
    </div>
  {% endblock %}
{% endembed %}
