<div id="rsvp-site-logo">
  <a href="{{ path('<front>') }}">
 <h1> LOGO FOOBAR-2600</h1>
  <picture id="rsvp_site_name_default">
      <source srcset="{{ rsvp_site_name_mobile }}" media="(max-width: 599px)">
      <source srcset="{{ rsvp_site_name_tablet }}" media="(min-width: 600px) and (max-width: 1024px)">
      <source srcset="{{ rsvp_site_name_desktop }}" media="(min-width: 1025px)">
      <img src="{{ rsvp_site_name_desktop }}" alt="{{ rsvp_site_name_alt_text }}" class="img-fluid">
    </picture>
      </a>
</div>